{% extends 'base.html.twig' %}

{% block title %}Edit Risposta{% endblock %}

{% block body %}
    <h1>Edit Risposta</h1>

    {{ include('risposta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_risposta_index') }}">back to list</a>

    {{ include('risposta/_delete_form.html.twig') }}
{% endblock %}
